<div class="yield-box container">
<h4>Your employees reporting expenses</h4>
 <div class="row">
  <div class="col-xs-12 col-sm-8">

  <!-- 1 -->
  <% @expenses.each do |expense| %>

  <!-- 2 -->
  <%= link_to expense_path(expense) do %>

  <!-- 3 -->
    <div class="well well-sm expense-split">
      <span class="label label-<%= expense.status %> pull-right">
        <%= expense.status %>
      </span>

        <div class="row">
          <div class="col-xs-7">
            <h5><%= expense.date %></h5>
            <p>
              <%= expense.user.email %><br>
              <%= expense.category %>
            </p>

          </div>
          <div class="col-xs-5 text-right">
            <h4><%= expense.amount %> €</h4>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-4">
            <%= link_to "validate", accept_subordinates_expense_path(expense), method: :patch, class: 'btn btn-default btn-sm btn-block' %>
          </div>
          <div class="col-xs-4">
            <%= link_to "reject", reject_subordinates_expense_path(expense), method: :patch, class: 'btn btn-default btn-sm btn-block' %>
          </div>
          <div class="col-xs-4">
            <%= link_to "info", info_subordinates_expense_path(expense), method: :patch, class: 'btn btn-default btn-sm btn-block' %>
          </div>
        </div>

        <%= render 'shared/action-sheet' %>
    </div>
    <% end %>
    <% end %>
  </div>
 </div>
</div>
