<div class="edit-expense-form">

    <%= simple_form_for(@expense) do |f| %>
      <%= f.hidden_field :category, value: @category %>
      <% if params[:action] == 'edit' %>
      <h3>Please update your expense !</h3>
      <%= f.input :category, collection: %w(car travel food hotel other) %>
      <%#= f.input :sub_category, collection: @sub_categories %>
      <% end %>

      <%= f.input :sub_category, collection: @sub_categories, as: :radio_buttons %>

      <%= f.input :amount %>
      <%= f.input :date %>
      <%#= f.input :status %>
      <%= f.input :description %>
      <%#= f.input :photo, as: :attachinary %>
      <%= f.submit %>
    <% end %>

    <%= link_to "Change category", new_expense_path %>

</div>


<!--   create_table "expenses", force: :cascade do |t|
    t.integer  "amount"
    t.date     "date"
    t.string   "category"
    t.string   "sub_category"
    t.string   "status",       default: "Pending"
    t.string   "title"
    t.string   "description"
    t.integer  "user_id"
    t.datetime "created_at",                       null: false
    t.datetime "updated_at",                       null: false
    t.index ["user_id"], name: "index_expenses_on_user_id", using: :btree
  end -->
