<div class="container">
  <div class="edit-expense-form">

    <% if params[:action] == "new" %>
      <h4>Category</h4>
        <div  class="category-edit" >
          <i class="fa fa-<%= set_form_icon(@category) %> fa-2x cat-icon"></i>
          <p> - </p>
          <%= @category %>
          <p> SHIT </p>
        </div>
    <% end %>

      <% if params[:action] == 'edit' %>
      <h4>Please update your expense !</h4>
        <h4>Category</h4>
          <div  class="category-edit" >
          <i class="fa fa-<%= set_form_icon(@expense.category) %> fa-2x cat-icon"></i>
          <p> - </p>
          <%= @expense.category %>
          </div>
       <% end %>


  <%= simple_form_for(@expense) do |f| %>
  <%= f.hidden_field :category, value: @category %>
  <%= f.hidden_field :status %>

      <% if @category != "other" %>
        <%= f.input :sub_category, collection: @sub_categories, as: :radio_buttons %>
      <% end %>

    <%= f.input :amount %>
    <%= f.input :date %>
    <%#= f.input :status %>
    <%= f.input :description %>
    <%#= f.input :photo, as: :attachinary %>
    <%= f.submit %>
  <% end %>

  <%= link_to "Back", profile_path %>

  </div>
</div>

<!--   create_table "expenses", force: :cascade do |t|
    t.integer  "amount"
    t.date     "date"
    t.string   "category"
    t.string   "sub_category"
    t.string   "status",       default: "Pending"
    t.string   "title"
    t.string   "description"
    t.integer  "user_id"
    t.datetime "created_at",                       null: false
    t.datetime "updated_at",                       null: false
    t.index ["user_id"], name: "index_expenses_on_user_id", using: :btree
  end -->
