<div class="yield-box">
 <div class="container">
    <div class = "form-category">
      <div class="row">
        <div class="col-xs-6">
          <%= link_to  new_expense_path(category: "car"), remote: true, class: 'form-category-icon' do %>
            <i class="fa fa-car fa-5x cat-icon"></i>
          <% end %>
        </div>
        <div class="col-xs-6">
          <%= link_to  new_expense_path(category: "food"), remote: true, class: 'form-category-icon' do %>
            <i class="fa fa-cutlery fa-5x cat-icon"></i>
          <% end %>
        </div>
        <div class="col-xs-6">
          <%= link_to  new_expense_path(category: "hotel"), remote: true, class: 'form-category-icon' do %>
            <i class="fa fa-bed fa-5x cat-icon"></i>
          <% end %>
        </div>
        <div class="col-xs-6">
          <%= link_to  new_expense_path(category: "travel"), remote: true, class: 'form-category-icon' do %>
            <i class="fa fa-suitcase fa-5x cat-icon"></i>
          <% end %>
        </div>
        <div class="col-xs-6">
          <%= link_to new_expense_path(category: "phone"), remote: true, class: 'form-category-icon' do %>
            <i class="fa fa-phone fa-5x cat-icon"></i>
          <% end %>
        </div>
        <div class="col-xs-6">
          <%= link_to new_expense_path(category: "other"), remote: true, class: 'form-category-icon' do %>
            <i class="fa fa-search fa-5x cat-icon"></i>
          <% end %>
          </div>
        </div>
      </div>
    </div>

  <div id = form> </div>
</div>
