<div class="yield-box">
<div class="container">
  <h4 id="h3_show">Details of your expense </h4>

  <div class="well table expense-show" id="expense_show">
    <%= link_to edit_expense_path do %>
      <h4>Category</h4>
      <div  class="category-edit" >
      <i class="fa fa-<%= set_form_icon(@expense.category) %> fa-2x cat-icon"></i>
      <%= @expense.category %>
      </div>

      <h4>Sub category</h4>
      <div class="sub-category-show">
        <%= @expense.sub_category %>
      </div>

      <p><%= @expense.amount %> €</p>
      <p><%= @expense.date %></p>
      <p>Satus: <%= @expense.status %></p>

      <% if @expense.title %>
        <p><%= @expense.title %></p>
      <% end %>
      <% if @expense.description %>
        <p>Description: <%= @expense.description %></p>
      <% end %>
    <% end %>
  </div>

<div class="action-sheet">
  <div class="row">
    <div class="col-xs-6">
      <%= link_to "Back", profile_path, class: "btn back-btn btn-primary btn-lg button-transform" %>
    </div>
    <div class="col-xs-6">
      <%= link_to "Delete", expense_path(@expense), method: :delete, class: "btn delete-btn btn-danger btn-lg button-transform" %>
    </div>
  </div>
</div>




</div>
</div>
