<div class="yield-box">
<div class="container">
<h3>Full description of the expense </h3>

<%= link_to edit_expense_path do %>
  <div class= " well table expense-show">
   <ol>
      <h4>Category</h4>
      <div  class="category-edit" >
      <%= @expense.category %>
      </div>

      <h4>Sub category</h4>
      <div  class="sub-category-show" >
      <%= @expense.sub_category %>
      </div>

    <p><%= @expense.amount %> €</p>

    <p><%= @expense.date %></p>

    <p>Satus: <%= @expense.status %></p>

    <% if @expense.title %>
    <p><%= @expense.title %></p>
    <% end %>
    <% if @expense.description %>
    <p>Description: <%= @expense.description %></p>
    <% end %>

   </ol>
  </div>
<% end %>

<%#= link_to "Edit", edit_expense_path %>

<%= link_to "Back", profile_path %>
</div>
</div>
