<%= simple_form_for(@user, url: profile_path) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @user.errors.full_messages.each do |error| %>
        <li> Invalid input, please correct accordingly </li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- [...] all the fields -->
  <% if @user.manager %>
     Reference manager: <%= @user.manager.first_name %> <%= @user.manager.last_name %>
  <% end %>

  <%= f.text_field :first_name , placeholder: "first_name" %>
  <%= f.text_field :last_name , placeholder: "last_name" %>
  <%= f.text_field :email , placeholder: "email" %>
  <%= f.input :photo, as: :attachinary, class: "picture-picker" %>
  <%#  :manager, :top_manager %>
  <%= f.submit "Update", class: "lol btn btn-success" %>
<% end %>
