<div class="yield-box">
  <div class="container">
  <div class="banner">
    <div class="row">
      <div class="col-xs-8">
        <%= link_to edit_profile_path do %>
          <h3> Hey <%= @user.first_name %> !</h3>
        <% end %>
        <p>
          <% if @user.manager %>
            Reference manager: <%= @user.manager.first_name %> <%= @user.manager.last_name %>
          <% end %>
          <% if @user.top_manager? %>
            Top manager
          <% elsif @user.is_manager? %>
            Manager
          <% else %>
            Employee
          <% end %>
        </p>
      </div>
      <div class="col-xs-4">
        <div class="profile-picture">
          <% if @user.photo? %>
            <%= cl_image_tag @user.photo.path, crop: :fill , class: "img-responsive" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

   <div class="row">
    <div class="col-xs-12">

      <% if @user.expenses.empty? %>
          <h3><%= "You have no expense yet... Don't forget to book them !" %></h3>
      <% else %>

        <% @user.expenses.each do |expense| %>

          <%= link_to expense_path(expense) do %>
            <div class="well well-sm expense-split">
              <span class="label label-<%= expense.status %> pull-right">
                <%= expense.status %>
              </span>

              <div class="row">
                <div class="col-xs-7">
                  <h5 class="no-padding"><%= expense.date %></h5>
                  <p><%= expense.category %></p>
                </div>
                <div class="col-xs-5 text-right">
                  <h4><%= expense.amount %> €</h4>
                </div>
              </div>
            </div>

          <% end %>
        <% end %>

      <% end %>
    </div>
   </div>
  </div>

  <%= render 'shared/action-sheet' %>

</div>
