<div class="yield-box">
  <div class="container">
  <div class="banner">

<%= link_to edit_profile_path do %>
    <div class="profile-content" >
      <h3> Hey <%= @user.first_name %> ! </h3>
      <% if @user.photo? %>
        <%= cl_image_tag @user.photo.path, width: 50, height: 50, crop: :fill , class: "profile-foto" %>
      <% end %>
    </div>
<% end %>

    <div class="info">
      <ul>
      <% if @user.manager %>
        Reference manager: <%= @user.manager.first_name %> <%= @user.manager.last_name %>
      <% end %>
      <% if @user.top_manager? %>
        You are top manager
      <% elsif @user.is_manager? %>
        You are manager
      <% else %>
        You are employee
      <% end %>
      </ul>
    </div>



  </div>

   <div class="row">
    <div class="col-xs-12 col-sm-6">


      <% if @user.expenses.empty? %>
          <h3><%= "You have no expense yet... Don't forget to book them !" %></h3>
      <% else %>

        <% @user.expenses.each do |expense| %>

          <%= link_to expense_path(expense) do %>
            <div class="well well-sm expense-split">
              <span class="label label-<%= expense.status %> pull-right">
                <%= expense.status %>
              </span>
              <h5><%= expense.date %></h5>
              <div class="row">
                <div class="col-xs-7">
                  <%= expense.category %>

                </div>
                <div class="col-xs-5 text-right">
                  <h2><%= expense.amount %> €</h2>

                </div>
              </div>
            </div>
          <% end %>
        <% end %>

      <% end %>
    </div>
   </div>
  </div>

  <%= render 'shared/action-sheet' %>

</div>
