<div class="yield-box">
  <div class="container">
  <div class="banner">

<%= link_to edit_profile_path do %>
    <div class="profile-content" >
      <h3> Hey <%= @user.first_name %> ! </h3>
      <% if @user.photo? %>
        <%= cl_image_tag @user.photo.path, width: 50, height: 50, crop: :fill , class: "profile-foto" %>
      <% end %>
    </div>
<% end %>

    <div class="info">
      <ul>
      <% if @user.manager %>
        Reference manager: <%= @user.manager.first_name %> <%= @user.manager.last_name %>
      <% end %>
      <% if @user.top_manager? %>
        You are top manager
      <% elsif @user.is_manager? %>
        You are manager
      <% else %>
        You are employee
      <% end %>
      </ul>
    </div>



  </div>

   <div class="row">
    <div class="col-xs-12 col-sm-6">


      <% if @user.expenses.empty? %>
          <h3><%= "You have no expense yet... Don't forget to book them !" %></h3>
      <% else %>

        <% @user.expenses.each do |expense| %>
        <div class="well well-sm expense-split">
        <tr>
          <td><p> <%= link_to expense_path(expense) do %> <%= expense.date %> - <%= expense.category %> - <%= expense.amount %> € - <%= expense.status %> <% end %>
           </p></td>
           <%#= link_to "edit" , edit_expense_path(expense) %>
        </tr>
        </div>
        <% end %>

      <% end %>
    </div>
   </div>
  </div>



  <div class="action-sheet">
    <%= link_to 'Add expense', new_expense_path, class: "btn btn-success"%>
  </div>


  <div class="sidebar"></div>
</div>
